<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{'/fragments/headFragment' :: head}">
    <title>Ticket Create</title>
</head>
<body>
    <div class="page-container d-flex flex-column min-vh-100">
    <header th:replace="~{'/fragments/navbar' :: header}"></header>

    <main class="container mt-5 flex-grow-1">
        <div class="centrale">
            <div class="text-center mt-5">
                <h3>Ticket Create</h3>
            </div>
            <form id="ticket-form" th:object="${ticket}" th:action="@{/ticket/createTicket}" method="post">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <label class="form-label">Titolo</label>
                                <input type="text" id="titolo" th:field="*{titolo}" class="form-control" th:errorClass="is-invalid">
                                <ul th:if="${#fields.hasErrors('titolo')}">
                                    <li th:each="err : ${#fields.errors('titolo')}" class="text-danger" th:text="${err}"></li>
                                </ul>
                            </div>
                            <div class="col-12 mt-3">
                                <label class="form-label">Descrizione</label>
                                <input type="text" id="descrizione" th:field="*{descrizione}" class="form-control" th:errorClass="is-invalid">
                                <ul th:if="${#fields.hasErrors('descrizione')}">
                                    <li th:each="err : ${#fields.errors('descrizione')}" class="text-danger" th:text="${err}"></li>
                                </ul>
                            </div>
                            <div class="col-12 mt-3">
                                <label class="form-label">Operatore</label>
                                <select th:field="*{user}" class="form-control" th:errorClass="is-invalid">
                                    <option th:unless="${listaUser.isEmpty()}" th:each="user : ${listaUser}" th:value="${user.id}" th:text="${user.id}"></option>
                                    <option th:if="${listaUser.isEmpty()}" value="vuoto">Non ci sono Operatori disponibili</option>
                                </select>                            
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-primary" type="submit">Salva</button>
                                <a th:href="@{/admin}" class="btn btn-danger">Annulla</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-5">
                        <h4>Categorie</h4>
                        <div class="form-check" th:each="categoria : ${listaCategorie}">
                            <input class="form-check-input" type="checkbox" th:id="${categoria.id}" th:value="${categoria.id}" th:field="*{categorie}">
                            <label class="form-check-label" th:for="${categoria.id}" th:text="${categoria.nome}"></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <div th:replace="fragments/footer :: footerFragment"></div>
    </div>
</body>
</html>

<style>
    .centrale{
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: #dedada;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
</style>