<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{'/fragments/headFragment' :: head}">
    <title>Dettagli Pizza</title>
</head>
<body>
    <header th:replace="~{'/fragments/navbar' :: header}"></header>
        <main class="text-center" th:classappend="${ticket.status.id == 1 ? 'bg-daFare' : (ticket.status.id == 2 ? 'bg-inCorso' : 'bg-chiuso')}">
            <h2 class="mt-3" th:text="${ticket.titolo}"></h2>
            <div class="container mt-3">
                <div class="row">
                    <div>
                        <p class="mb-3" th:text="${ticket.descrizione}"></p>
                    </div>
                    <div class="mt-5">
                        <p class="mb-3" th:text="${ticket.status.status}"></p>
                    </div>
                    <div>
                        <ul class="list-unstyled" th:each="categoria : ${ticket.categorie}">
                            <li th:text="${categoria.nome}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--
                <div class="mt-3">
                <a th:href="@{|/ticket/${ticket.id}/editNote|}" class="btn btn-primary">Aggiungi Nota</a>
            </div>
            <div class="mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Titolo
                            </th>
                            <th>
                                Data creazione
                            </th>
                            <th>
                                Modifica
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="nota : ${ticket.note}">
                            <td th:text="${nota.titolo}"></td>
                            <td th:text="${nota.dataCreazione}"></td>
                            <td>
                                <a th:href="@{|/note/editNote/${note.ticket.id}|}" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->
        </main>
</body>

</html>

<style>
    main{
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
    .bg-daFare {
        background-color: green; /* colore per stato "aperto" */
    }

    .bg-inCorso {
        background-color: yellow; /* colore per stato "in corso" */
    }

    .bg-chiuso {
        background-color: red; /* colore per stato "chiuso" */
    }
</style>